.clientWrapper{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#FFFAF4, #FFFAF4);
}

.Client button{
    background-color: #E08E6D !important;
}


.Caregiver{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.7);
   
}

.Client{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.1)
}

.Caregiver form, .Client form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 800px;
    max-width: 1000px;
    width: 100%;
    
    padding: 48px;
    border-radius: 4px;
    
    

}

.options-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px ;
    

}

.Client h2, .Caregiver h2{
    margin-bottom: 24px;
    font-size: 30px;
    font-weight: 500;
    
}


.Caregiver button, .Client button{
    margin-top: 32px;
    padding: 12px;
    width: 200px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #579ff1;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.Caregiver h4, .Client h4{
    font-weight: 300;
}

.Caregiver .check-or-not .option, .Client .check-or-not .option{
    padding: 12px !important;
    font-weight: 400;
    font-size: 20px;
    max-width: 400px ;
    border-radius: 50px;
    width: 100%;
    background: #579ff1;
    
    display: flex;
    align-items: center;
    
}

.Caregiver .other, .Client .other {

    margin-top: 32px;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: 28px;
    width: 100%;
    
}

.Caregiver .other h4, .Client .other h4{
    font-weight: 600 ;
    font-size: 24px;
    text-align: left;
}

.Caregiver .optionLetter, .Client .optionLetter{
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #579ff1;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 0px;
    font-weight: 800;
    margin-right: 24px;
}

.Client .optionLetter{
    color: #E08E6D;
}

.Caregiver .other input, .Client .other input{
    width: 100%;
}

.Caregiver .options, .Client .options{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Caregiver form .options, .Client form .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
   
  }

  
  
  /* .checkboxOption {
    background-color: #ccc;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
  } */
.check-or-not{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-image{
    margin-top: 24px;
}

@media (max-width: 768px) {
    .Caregiver form, .Client form{
        max-width: 400px;
        width: 100%;
    }

    .Caregiver h2,  .Client h2{
        font-size: 24px;
    }
    .Caregiver .check-or-not .option, .Client .check-or-not .option{
        padding: 12px !important;
        font-weight: 400;
        font-size: 18px;
        max-width: 300px ;
        border-radius: 50px;
        width: 100%;
        background: #579ff1;
        
        display: flex;
        align-items: center;
        
    }
    .Caregiver .other input, .Client .other input{
        width: 40%;
    }
    

    .Caregiver .other h4, .Client .other h4{
        text-align: center;
    }
    img{
        height: 100px;
        width: 200px;
    }
}




