.Caregiver{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Caregiver form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 800px;
    

}

.options-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px ;
    

}

.Caregiver h2{
    margin-bottom: 24px;
    font-size: 32px;
}

.Caregiver button{
    margin-top: 32px;
    padding: 12px;
    width: 200px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #579ff1;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.Caregiver h4{
    font-weight: 300;
}

.Caregiver .check-or-not .option{
    padding: 12px !important;
    font-weight: 400;
    font-size: 20px;
    max-width: 400px ;
    border-radius: 50px;
    width: 100%;
    background: #579ff1;
    
    display: flex;
    align-items: center;
    
}

.Caregiver .other {

    margin-top: 32px;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: 28px;
    width: 100%;
    
}

.Caregiver .other h4{
    font-weight: 600 ;
    font-size: 24px;
    text-align: left;
}

.Caregiver .optionLetter{
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #579ff1;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 0px;
    font-weight: 800;
    margin-right: 24px;
}

.Caregiver .other input{
    width: 100%;
}

.Caregiver .options{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Caregiver form .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
   
  }

  
  
  /* .checkboxOption {
    background-color: #ccc;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
  } */
.check-or-not{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-image{
    margin-top: 24px;
}




