.mainWrapper{
    background-color: #537188;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    color: white;
}

.Main{
    background-color: white;
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    flex-direction: column;
}

.Main button{
    align-self: flex-start;
}

.Main button{
    margin-top: 32px;
    padding: 12px;
    width: 200px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #537188;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}